[user]
	name = Soumik
	email = soumik20020906@gmail.com
[safe]
	directory = /mnt/34FA4F03FA4EC0BA/Python/College/Vehicle speed detection\n
	directory = /mnt/34FA4F03FA4EC0BA/Python/College/Vehicle speed detection
	directory = /mnt/34FA4F03FA4EC0BA/Setup
